@import url('https://fonts.googleapis.com/css?family=Niramit&display=swap');
@import './tailwind.css';

#app {
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 700;
}

a:hover {
  color: rgb(0, 183, 207);
}
